:root {
  --actiongreen: rgba(81, 156, 102, 1);
  --actionred: rgba(204, 95, 95, 1);
  --black-10: rgba(190, 192, 202, 1);
  --black-100: rgba(28, 29, 34, 1);
  --black-20: rgba(166, 168, 177, 1);
  --black-30: rgba(139, 141, 151, 1);
  --black-40: rgba(110, 112, 121, 1);
  --black-50: rgba(83, 84, 92, 1);
  --black-60: rgba(69, 70, 78, 1);
  --black-80: rgba(51, 52, 58, 1);
  --grey: rgba(225, 226, 233, 1);
  --label-1-regular-font-family: "Inter-Regular", Helvetica;
  --label-1-regular-font-size: 12px;
  --label-1-regular-font-style: normal;
  --label-1-regular-font-weight: 400;
  --label-1-regular-letter-spacing: 0px;
  --label-1-regular-line-height: normal;
  --label-2-regular-font-family: "Inter-Regular", Helvetica;
  --label-2-regular-font-size: 11px;
  --label-2-regular-font-style: normal;
  --label-2-regular-font-weight: 400;
  --label-2-regular-letter-spacing: 0px;
  --label-2-regular-line-height: normal;
  --main-background: rgba(244, 245, 250, 1);
  --paragraph-1-medium-font-family: "Inter-Medium", Helvetica;
  --paragraph-1-medium-font-size: 16px;
  --paragraph-1-medium-font-style: normal;
  --paragraph-1-medium-font-weight: 500;
  --paragraph-1-medium-letter-spacing: 0px;
  --paragraph-1-medium-line-height: normal;
  --paragraph-1-regular-font-family: "Inter-Regular", Helvetica;
  --paragraph-1-regular-font-size: 16px;
  --paragraph-1-regular-font-style: normal;
  --paragraph-1-regular-font-weight: 400;
  --paragraph-1-regular-letter-spacing: 0px;
  --paragraph-1-regular-line-height: normal;
  --paragraph-2-medium-font-family: "Inter-Medium", Helvetica;
  --paragraph-2-medium-font-size: 14px;
  --paragraph-2-medium-font-style: normal;
  --paragraph-2-medium-font-weight: 500;
  --paragraph-2-medium-letter-spacing: 0px;
  --paragraph-2-medium-line-height: normal;
  --paragraph-2-regular-font-family: "Inter-Regular", Helvetica;
  --paragraph-2-regular-font-size: 14px;
  --paragraph-2-regular-font-style: normal;
  --paragraph-2-regular-font-weight: 400;
  --paragraph-2-regular-letter-spacing: 0px;
  --paragraph-2-regular-line-height: normal;
  --primary: rgba(85, 112, 241, 1);
  --primary-10: rgba(219, 222, 238, 1);
  --primary-100: rgba(85, 112, 241, 1);
  --primary-50: rgba(151, 165, 235, 1);
  --secondary-100: rgba(255, 204, 145, 1);
  --secondary-20: rgba(254, 245, 234, 1);
  --stroke: rgba(241, 243, 249, 1);
  --subheading-3-bold-font-family: "Poppins-Bold", Helvetica;
  --subheading-3-bold-font-size: 20px;
  --subheading-3-bold-font-style: normal;
  --subheading-3-bold-font-weight: 700;
  --subheading-3-bold-letter-spacing: 0px;
  --subheading-3-bold-line-height: normal;
  --subheading-3-medium-font-family: "Poppins-Medium", Helvetica;
  --subheading-3-medium-font-size: 20px;
  --subheading-3-medium-font-style: normal;
  --subheading-3-medium-font-weight: 500;
  --subheading-3-medium-letter-spacing: 0px;
  --subheading-3-medium-line-height: normal;
  --white: rgba(255, 255, 255, 1);
}
