.top-nav {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 1352px;
}

.top-nav .nav-container-wrapper {
  align-items: flex-start;
  align-self: stretch;
  background-color: #ffffff;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  padding: 14px 21px;
  position: relative;
  width: 100%;
}

.top-nav .nav-container {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.top-nav .dashboard-2 {
  color: var(--black-60);
  font-family: var(--subheading-3-medium-font-family);
  font-size: var(--subheading-3-medium-font-size);
  font-style: var(--subheading-3-medium-font-style);
  font-weight: var(--subheading-3-medium-font-weight);
  letter-spacing: var(--subheading-3-medium-letter-spacing);
  line-height: var(--subheading-3-medium-line-height);
  position: relative;
  width: fit-content;
}

.top-nav .div-2 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 20px;
  position: relative;
}

.top-nav .icon {
  align-items: center;
  align-self: stretch;
  background-color: var(--secondary-20);
  border-radius: 8px;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  padding: 5px 12px;
  position: relative;
}

.top-nav .nanny-s-shop {
  color: var(--black-100);
  font-family: var(--paragraph-2-regular-font-family);
  font-size: var(--paragraph-2-regular-font-size);
  font-style: var(--paragraph-2-regular-font-style);
  font-weight: var(--paragraph-2-regular-font-weight);
  letter-spacing: var(--paragraph-2-regular-letter-spacing);
  line-height: var(--paragraph-2-regular-line-height);
  position: relative;
  width: fit-content;
}

.top-nav .design-component-instance-node {
  height: 20px !important;
  left: unset !important;
  position: relative !important;
  top: unset !important;
  width: 20px !important;
}

.top-nav .profile {
  height: 32px;
  object-fit: cover;
  position: relative;
  width: 32px;
}

.top-nav .breadcrumbs {
  align-items: flex-start;
  align-self: stretch;
  background-color: #ffffff;
  border-color: var(--stroke);
  border-top-style: solid;
  border-top-width: 1px;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  padding: 4px 20px;
  position: relative;
  width: 100%;
}

.top-nav .div-3 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 11px;
  position: relative;
}

.top-nav .iconly-bulk-home-instance {
  height: 16px !important;
  left: unset !important;
  position: relative !important;
  top: unset !important;
  width: 16px !important;
}

.top-nav .text-wrapper-4 {
  color: var(--black-30);
  font-family: var(--label-1-regular-font-family);
  font-size: var(--label-1-regular-font-size);
  font-style: var(--label-1-regular-font-style);
  font-weight: var(--label-1-regular-font-weight);
  letter-spacing: var(--label-1-regular-letter-spacing);
  line-height: var(--label-1-regular-line-height);
  margin-top: -1px;
  position: relative;
  width: fit-content;
}
